<template name="_footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h3 class="white-text">Pick your favorite now</h3>
          <p class="grey-text text-lighten-4">
            Navigate seamlessly through the nearest events of your interrests and pick your favorites
          </p>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; Copyright Project Title
      </div>
    </div>
  </footer>
</template>
