<template name="profile">

    <span class="blue-text text-darken-2"><h1>Rewards</h1></span>
    <h3 class="green-text text-darken-2">Score:</h3>
    <h4 class="green-text text-lighten-3">
    {{#if currentUser.profile.score}}
      {{currentUser.profile.score.score}}
    {{else}}
        0
    {{/if}}
    </h4>

    <h3 class="green-text text-darken-2">Level:</h3>
    <h4 class="green-text text-lighten-3">
      {{#if currentUser.profile.score.status}}
        {{currentUser.profile.score.status}} : {{currentUser.profile.score.quote}}
      {{else}}
          0
      {{/if}}
    </h4>
</template>